* {
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
    font-family: 'Lora', serif;

    
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6{
    font-family: 'Candal', serif;
    color: #444;
    margin :15px;
    text-align: center;
}

label{
    color: #444;
}
a{
    text-decoration: none;
    color: inherit;
}

header{
    background: #008489;
    height: 66px;
    width: 100%;
    position: fixed;
    z-index: 999999;
}

header * {
    color: white;
}

header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;

}

header .logo-text {
    margin: 9px;
    font-family: 'Candal', serif;
}

header .logo-text span{
    color: #05f7ff;
}
.top{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 66px;
}
.top_left{
    width: 30%;
}
.top_right{
    width: 60%;
}
.box_sign_in{
    width: 100%;
    margin: 20%;
    padding: 0 0 20% 3%;
    border-radius: 20px;
    border : 1px solid #bfbfbf;
    box-shadow: 5px 5px 5px grey;
    display: flex;
    flex-direction: column;
    font-family: 'Candal',serif;
    text-align: center;
    font-size: 2em;
}


 .box_sign_in input[type=email] {
    width: 90%;
    padding : 2%;
    margin: 12px 10px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 0.5em;
    
  }

  .box_sign_in input[type=password]{
    width: 90%;
    padding : 2% ;
    margin: 12px 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 0.5em;
  }
  .box_sign_in .forgot
  {
      color : #99c2ff;
      padding-left: 3%;
      font-size: 0.5em;
      text-decoration: underline;
      
  }
 .button_sign_in{
    font-family: 'Candal',serif;
     width: 90%;
     display: inline-block;
     margin-top: 10%;
     padding: 2% ;
     font-size: 0.7em;
     color: white;
     letter-spacing: 1px;
     background-image: linear-gradient(to right, #006669 0%, #0E94A0 100%);
     border-radius: 5px;
}
.button_sign_in:hover{
    background-image: linear-gradient(to right, #0E94A0 0%, #006669 100%);
    transition: 0.5s;
    color: white;
}
.line{
    width: 95%;
    border-bottom: 1px solid black;
    margin-left: 2%;
    margin-top: 5%;
}

.button_sign_up{
    font-family: 'Candal',serif;
    width: 90%;
    display: inline-block;
    margin-top : 8% ;
    padding: 2%;
    font-size: 0.7em;
    color: white;
    letter-spacing: 1px;
    background-image: linear-gradient(to left, #006669 0%, #0E94A0 100%);
    border-radius: 5px;
    
}
.button_sign_up:hover{
   background-image: linear-gradient(to right, #006669 0%, #0E94A0 100%);
   transition: 0.5s;
   color: white;
}

.box_sign_up{
    display: none;
}
.show{
    width: 100%;
    margin-top: 20%;
    margin-left: 20%;
    margin-bottom: 20%;
    padding: 0 0 20% 3%;
    border-radius: 20px;
    border : 1px solid #bfbfbf;
    box-shadow: 5px 5px 5px grey;
    display: flex;
    flex-direction: column;
    font-family: 'Candal',serif;
    text-align: center;
    font-size: 2em;
}
.show input[type="submit"]{
    background-image: linear-gradient(to left, #006669 0%, #0E94A0 100%);

}
.show input[type="submit"]:hover{
    background-image: linear-gradient(to right, #006669 0%, #0E94A0 100%);
}

.show input[type=text], .show input[type=email] {
    width: 90%;
    padding : 2%;
    margin: 12px 10px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 0.5em;
    
  }

  .show input[type=password]{
    width: 90%;
    padding : 2%;
    margin: 12px 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 0.5em;
  }
  .about{
      margin-top: 10%;
      width: 100%;
      margin-left: 10%;
      font-family: 'Candal',serif;
      font-size: 2em; 
      text-align: center; 
  }
 .media{
     float:right;
     margin: 1%;
 }
 .text{
     float: left;
     margin-left: 20%;
     font-size: 0.7em;
     margin-bottom: 10%;
     font-family: Arial, Helvetica, sans-serif;
 }
 .footer .footer-bottom{
    background: #343a40;
    color: #686868;
    height: 40px;
    width: 100%;
    text-align: center;
    margin-top: -40px;
    padding-top: 11px;
}
@media only screen and (max-width: 750px){
  
    .top{
        width: 90%;
        height: 150%;
        display: block;
        
    }
    .top_left{
        width: 70%;
        height: 50%;
        
    }
    .top_right{      
        width: 70%;
        
    }
    .about{
        height: 100%;
        
    }
    .text{
        float: left;
        margin-left: 0.5%;
        margin-bottom: 2%;
    }
    .media{
        float:left;
        position: relative;
        margin: 1%;
    }
    .footer .footer-bottom{
        position: absolute;
        top:2000px;
        height: 30px;
        margin-top: 2%;
    }
}