doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  script(src='https://kit.fontawesome.com/ab4339cff3.js' crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Candal|Lora&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='../css/documents.css')
  link(rel='stylesheet' href='../css/style.css')
  title UmbrElla
header
  include header.pug
.doc-wrapper
  .content.clearfix
    .doc-container
      ul.documents-list
        li.book-container
          .book-image
            img(src='http://books.google.com/books/content?id=L64OOJGaCKIC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api' alt='')
          .book-title
            h2
              a(href='http://play.google.com/books/reader?id=L64OOJGaCKIC&hl=&printsec=frontcover&source=gbs_api')
                | Benjamin
                | Franklin
          .autor
            i  by Walter Isaacson 
          .book-date
            | 2004-05-04
          .book-info
            | Presents a portrait of Benjamin Franklin as a scientist, inventor, diplomat, writer,
            | business strategist, and statesman while tracing his life as one of America&apos;s Founding
            | Fathers.
        li.book-container
          .book-image
            img(src='http://books.google.com/books/content?id=GhNvt7hs7RYC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api' alt='')
          .book-title
            h2
              a(href='http://play.google.com/books/reader?id=GhNvt7hs7RYC&hl=&printsec=frontcover&source=gbs_api')
                | In
                | the Open
          .autor
            i  by Timothy E. Donohue 
          .book-date
            | 1997-11-08
          .book-info
            | Compelling, raw, and painfully self-aware, In the Open describes an existence most people
            | can barely imagine. A first-hand account of one man&apos;s struggle with homelessness and
            | alcoholism, this diary records a world full of physical degradation and despair that is not
            | without unpredictable moments of striking beauty. Donohue&apos;s experiences are brutal, but his
            | perceptions are poetic. This account of an intelligent and sensitive man in the grip of
            | alcoholism and homelessness challenges our perceptions of those on the margins of American
            | contemporary life. \&quot;Donohue recorded this often-moving account during a four-year period of
            | homelessness caused by his alcoholism. . . . There are many brilliant observations here on a
            | range of topics, including human nature, technology, and capitalism. . . . Donohue&apos;s life on
            | the fringe also provides an inside look at the homeless system of overnight shelters, labor
            | offices, and food stamp providers. But, somehow, in spite of all the negatives, a hopeful
            | book emerges.\&quot;&mdash;Booklist \&quot;A startlingly original book. In this confessional age, Donohue&apos;s
            | diary becomes a different sort of tell-all, a palimpsest that forces us to extract the
            | author from his own writing. . . . Donohue comes to resemble Swift&apos;s Gulliver\&quot;&mdash;Nicholas
            | Nesson, Boston Phoenix \&quot;Donohue punctuates his account of &apos;domiciling within the black
            | walls of a mosquito-infested night&apos; with rambling metaphysical asides in the style of an
            | eighteenth-century philosophe.\&quot;&mdash;Molly McQuade, Lingua Franca \&quot;Despite hunger,
            | homelessness, dead-end jobs and abusive drinking, what is most striking about Donohue is his
            | amazing optimism and endurance.\&quot;&mdash;Patrick Markee, Nation \&quot;Donohue is a gifted writer. . . .
            | But what gives [his diary] the breath of life is that it is written by an artist.\&quot;&mdash;Alec
            | Wilkinson, Los Angeles Times Book Review
        li.book-container
          .book-image
            img(src='http://books.google.com/books/content?id=nl0MYW41eEgC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api' alt='')
          .book-title
            h2
              a(href='http://play.google.com/books/reader?id=nl0MYW41eEgC&hl=&printsec=frontcover&source=gbs_api')
                | The
                | Identities of Marie Rose Delorme Smith
          .autor
            i  by Doris Jeanne MacKinnon 
          .book-date
            | 2012
          .book-info
            | This book relates the history and self-identifying process of a Maetis woman who lived on
            | the western plains of Canada during the transitional period from fur trade to sedentary
            | agricultural economy. Marie Rose Delorme Smith was a woman of French-Maetis ancestry who was
            | born during the fur trade era and who spent her adult years as a pioneer rancher in the
            | Pincher Creek district of southern Alberta. Sold by her mother at the age of sixteen to a
            | robe and whiskey trader several years older than her, Marie Rose went on to raise seventeen
            | children, establish a boarding house, take a homestead, serve as medicine woman and midwife,
            | and to publish several articles in the early prairie ranch periodical, Canadian Cattlemen.
            | The author relies on close readings of these articles, as well as the diaries, manuscripts,
            | and fictional writing of Marie Rose Delorme Smith, along with personal interviews with her
            | descendants. These sources allow a close examination of the self-identifying process for
            | Marie Rose as she negotiated the changing environment of the western plains during the late
            | 1800s and early 1900s when large numbers of Anglo-speaking immigrants settled in the area.
            | Clearly proud of her Maetis identity, Marie Rose was a member of an extended family who
            | served as Louis Riel&apos;s soldiers, and she presented that identity tentatively in her own
            | writings. Roles which Marie Rose assumed with pride were those of author, historian, mother,
            | and historical character, and these roles serve as themes from which to examine her
            | life.\&quot;--Publisher&apos;s website.
        li.book-container
          .book-image
            img(src='http://books.google.com/books/content?id=nl0MYW41eEgC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api' alt='')
          .book-title
            h2
              a(href='http://play.google.com/books/reader?id=nl0MYW41eEgC&hl=&printsec=frontcover&source=gbs_api')
                | The
                | Identities of Marie Rose Delorme Smith
          .autor
            i  by Doris Jeanne MacKinnon 
          .book-date
            | 2012
          .book-info
            | This book relates the history and self-identifying process of a Maetis woman who lived on
            | the....
    .sidebar
      .section.search
        h2.section-title Search
        form(action='index.html' method='post')
          input.text-input(type='text' name='search-term' ,='' placeholder='Search...')
      .section.topics
        h2.section-title Topics
        ul
          li
            a(href='#') Tech
          li
            a(href='#') Cultural
          li
            a(href='#') Politics
          li
            a(href='#') Arts
          li
            a(href='#') Science
          li
            a(href='#') Sports
.footer
  include footer.pug
script(src='../js/documents.js')
