.logo
  h1.logo-text
    img(src='../images/editabil-umbrela.png' alt='umbrela' width='35px')
    span Umbr
    | Ella
i.fas.fa-bars.menu-toggle
ul.nav
  li
    a(href='/news') News
  li
    a(href='/videos') Video
  li
    a(href='/images') Images
  li
    a(href='/books') Books
  li.login
    a(href='signup.html') Login
  li.profil
    a(href='#')
      i.fas.fa-user
      |                     Profile
      i.fas.fa-chevron-down
    ul.profile-subnav
      li
        a(href='profile.html') Settings
      li
        a.logout(href='signup.html') Logout
