.logo
  h1.logo-text
    img(src='../images/editabil-umbrela.png' alt='umbrela' width='35')
    span Umbr
    | Ella
i.fas.fa-bars.menu-toggle
ul.nav
  li
    a(href='/news') 
      i.fa.fa-newspaper-o 
        span.header-category News
  li
    a(href='/videos') 
      i.fa.fa-youtube-play
        span.header-category Video
  li
    a(href='/images') 
      i.fa.fa-picture-o
        span.header-category Images
  li
    a(href='/books') 
      i.fa.fa-book
        span.header-category Books
  li.login
    a(href='signup.html') Login
  li.profil
    a(href='#')
      i.fas.fa-user
      |          Profile
      i.fas.fa-chevron-down
    ul#profile_list.profile-subnav
      //li
        a(href='/login') Login
      //li
        a#logOutButton.logout(href='signup.html') Logout
