doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  script(src='https://kit.fontawesome.com/ab4339cff3.js' crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Candal|Lora&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='../css/style.css')
  title UmbrElla
header
  include header.pug
.page-wrapper
  .content.clearfix
    .grid
      h1.recent-images-title Recent Images
      article#imgContainer
    .sidebar
      .section.search
        h2.section-title Search
        form#search_images(action='index.html' method='post')
          input.text-input(type='text' name='search_term' placeholder='Search...')
          input#selected(type='checkbox' name='select_prefference_search')
          label(for='selected') Search only in preffered categories
          br
      .section.topics
        h2.section-title Categories
          button#downloadRss
            img.rss-image(src='../images/rss.png' alt='rss' width='25')
        ul
          li
            a.category(href="javascript:void(0);" x-id="backgrounds") Backgrounds
          li
            a.category(href="javascript:void(0);" x-id="fashion") Fashion
          li
            a.category(href="javascript:void(0);" x-id="nature") Nature
          li
            a.category(href="javascript:void(0);" x-id="science") Science
          li
            a.category(href="javascript:void(0);" x-id="education") Education
          li
            a.category(href="javascript:void(0);" x-id="feelings") Feelings
          li
            a.category(href="javascript:void(0);" x-id="health") Health
          li
            a.category(href="javascript:void(0);" x-id="people") People
          li
            a.category(href="javascript:void(0);" x-id="religion") Religion
          li
            a.category(href="javascript:void(0);" x-id="places") Places
          li
            a.category(href="javascript:void(0);" x-id="animals") Animals
          li
            a.category(href="javascript:void(0);" x-id="industry") Industry
          li
            a.category(href="javascript:void(0);" x-id="computer") Computer
          li
            a.category(href="javascript:void(0);" x-id="food") Food
          li
            a.category(href="javascript:void(0);" x-id="sports") Sports
          li
            a.category(href="javascript:void(0);" x-id="travel") Travel
          li
            a.category(href="javascript:void(0);" x-id="buildings") Buildings
          li
            a.category(href="javascript:void(0);" x-id="business") Business
          li
            a.category(href="javascript:void(0);" x-id="music") Music
          li
            a.category(href="javascript:void(0);" x-id="transportation") Transportation
.footer
  include footer.pug
script(src='../js/scripts.js')
script(src='../js/messageUs.js')
script(src='../js/imagesPage.js')

