doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  script(src='https://kit.fontawesome.com/ab4339cff3.js' crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Candal|Lora&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='../css/style.css')
  title UmbrElla
header
  include header.pug
.page-wrapper
  // Carouser
  .post-slider
    h1.slider-title Trending Posts
    i#prevButton.fas.fa-chevron-left.prev
    i#nextButton.fas.fa-chevron-right.next
    .post-wrapper
      .post
        img.slider-image(src='../images/1.jpg' alt='postImage')
        .post-info
          h4
            a(href='single.html')
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
          i.far.fa-user Mike Bear
          i.far.fa-calendar Mar 2, 2020
      .post
        img.slider-image(src='../images/2.jpg' alt='postImage')
        .post-info
          h4
            a(href='single.html')
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
          i.far.fa-user Mike Bear
          i.far.fa-calendar Mar 2, 2020
      .post
        img.slider-image(src='../images/3.jpg' alt='postImage')
        .post-info
          h4
            a(href='single.html')
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
          i.far.fa-user Mike Bear
          i.far.fa-calendar Mar 2, 2020
      .post
        img.slider-image(src='../images/4.jpg' alt='postImage')
        .post-info
          h4
            a(href='single.html')
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
          i.far.fa-user Mike Bear
          i.far.fa-calendar Mar 2, 2020
      .post
        img.slider-image(src='../images/5.jpg' alt='postImage')
        .post-info
          h4
            a(href='single.html')
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
          i.far.fa-user Mike Bear
          i.far.fa-calendar Mar 2, 2020
      .post
        img.slider-image(src='../images/6.png' alt='postImage')
        .post-info
          h4
            a(href='single.html')
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
          i.far.fa-user Mike Bear
          i.far.fa-calendar Mar 2, 2020
  // News Post
  .content.clearfix
    .main-content
      h1.recent-posts-title Recent Posts
      // second design
      .blog-post
        .blog-post__img
          img(src='../images/9.jpg' alt='')
        .blog-post__info
          .blog-post__date
            span Wednesday
            span March 7 2020
          h2.blog-post__title Lorem ipsum dolor sit amet.
          p.blog-post__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis
            | sint quo magnam possimus labore blanditiis totam porro ullam numquam voluptate minima
          a.blog-post__cta(href='#') Read More
      .blog-post
        .blog-post__img
          img(src='../images/10.jpg' alt='')
        .blog-post__info
          .blog-post__date
            span Wednesday
            span March 7 2020
          h2.blog-post__title Lorem ipsum dolor sit amet.
          p.blog-post__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis
            | sint quo magnam possimus labore blanditiis totam porro ullam numquam voluptate minima
          a.blog-post__cta(href='#') Read More
      .blog-post
        .blog-post__img
          img(src='../images/11.jpg' alt='')
        .blog-post__info
          .blog-post__date
            span Wednesday
            span March 7 2020
          h2.blog-post__title Lorem ipsum dolor sit amet.
          p.blog-post__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis
            | sint quo magnam possimus labore blanditiis totam porro ullam numquam voluptate minima
          a.blog-post__cta(href='#') Read More
      .blog-post
        .blog-post__img
          img(src='../images/12.jpg' alt='')
        .blog-post__info
          .blog-post__date
            span Wednesday
            span March 7 2020
          h2.blog-post__title Lorem ipsum dolor sit amet.
          p.blog-post__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis
            | sint quo magnam possimus labore blanditiis totam porro ullam numquam voluptate minima
          a.blog-post__cta(href='#') Read More
      .blog-post
        .blog-post__img
          img(src='../images/13.jpg' alt='')
        .blog-post__info
          .blog-post__date
            span Wednesday
            span March 7 2020
          h2.blog-post__title Lorem ipsum dolor sit amet.
          p.blog-post__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis
            | sint quo magnam possimus labore blanditiis totam porro ullam numquam voluptate minima
          a.blog-post__cta(href='#') Read More
    .sidebar
      .section.search
        h2.section-title Search
        form(action='index.html' method='post')
          input.text-input(type='text' name='search-term' ,='' placeholder='Search...')
      .section.topics
        h2.section-title Topics
        ul
          li
            a(href='#') Tech
          li
            a(href='#') Cultural
          li
            a(href='#') Politics
          li
            a(href='#') Arts
          li
            a(href='#') Science
          li
            a(href='#') Sports
.footer
  include footer.pug
// CustomJS
script(src='../js/scripts.js')
// 
