doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  script(src='https://kit.fontawesome.com/ab4339cff3.js' crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Candal|Lora&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='../css/videoStyle.css')
  link(rel='stylesheet' href='../css/style.css')
  title UmbrElla
header
  include header.pug
.video-wrapper
  .content.clearfix
    .video-container#videos
      .grid-item
    .sidebar
      .section.search
        h2.section-title Search
        form#search_videos(action='index.html' method='post')
          input.text-input(type='text' name='search_term' placeholder='Search...')
      .section.topics
        h2.section-title Topics
          button#downloadRss
            img.rss-image(src='../images/rss.png' alt='rss' width='25')
        ul
          li
            a.category(href="javascript:void(0);" x-id="animation") Animation
          li
            a.category(href="javascript:void(0);" x-id="art") Art
          li
            a.category(href="javascript:void(0);" x-id="cameratechniques") Camera Techniques
          li
            a.category(href="javascript:void(0);" x-id="comedy") Comedy
          li
            a.category(href="javascript:void(0);" x-id="documentary") Documentary
          li
            a.category(href="javascript:void(0);" x-id="experimental") Experimental
          li
            a.category(href="javascript:void(0);" x-id="fashion") Fashion
          li
            a.category(href="javascript:void(0);" x-id="food") Food
          li
            a.category(href="javascript:void(0);" x-id="instructionals") Instructionals
          li
            a.category(href="javascript:void(0);" x-id="music") Music
          li
            a.category(href="javascript:void(0);" x-id="narrative") Narrative
          li
            a.category(href="javascript:void(0);" x-id="personal") Personal
          li
            a.category(href="javascript:void(0);" x-id="journalism") Journalism
          li
            a.category(href="javascript:void(0);" x-id="sports") Sports
          li
            a.category(href="javascript:void(0);" x-id="talks") Talks
          li
            a.category(href="javascript:void(0);" x-id="travel") Travel
.footer
  include footer.pug
script(src='../js/video.js')
script(src='../js/videosPage.js')
