doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    script(src='https://kit.fontawesome.com/ab4339cff3.js' crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Candal%7CLora&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='../css/videoStyle.css')
    link(rel='stylesheet' href='../css/style.css')
    title UmbrElla
  header
    include header.pug
  .video-wrapper
    .content.clearfix
      .video-container#videos
        .grid-item
      .sidebar
        .section.search
          h2.section-title Search
          form#search_videos(action='index.html' method='post')
            input.text-input(type='text' name='search_term' placeholder='Search...')
        .section.topics
          h2.section-title Topics
            button#downloadRss
              img.rss-image(src='../images/rss.png' alt='rss' width='25')
          ul
            li
              a.category#animation(href="javascript:void(0);") Animation
            li
              a.category#art(href="javascript:void(0);") Art
            li
              a.category#cameratechniques(href="javascript:void(0);") Camera Techniques
            li
              a.category#comedy(href="javascript:void(0);") Comedy
            li
              a.category#documentary(href="javascript:void(0);") Documentary
            li
              a.category#experimental(href="javascript:void(0);") Experimental
            li
              a.category#fashion(href="javascript:void(0);") Fashion
            li
              a.category#food(href="javascript:void(0);") Food
            li
              a.category#instructionals(href="javascript:void(0);") Instructionals
            li
              a.category#music(href="javascript:void(0);") Music
            li
              a.category#narrative(href="javascript:void(0);") Narrative
            li
              a.category#personal(href="javascript:void(0);") Personal
            li
              a.category#journalism(href="javascript:void(0);") Journalism
            li
              a.category#sports(href="javascript:void(0);") Sports
            li
              a.category#talks(href="javascript:void(0);") Talks
            li
              a.category#travel(href="javascript:void(0);") Travel
  .footer
    include footer.pug
  script(src='../js/video.js')
  script(src='../js/messageUs.js')
  script(src='../js/videosPage.js')
