
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 450px;
    height: 700px;
    background-color:#e6e6e6;;
    font-family: 'Lora', serif;
}


h1{
    font-family: 'Candal', serif;
    color: #444;
    margin: 5px;
}

header{
    position: fixed;
    height: 70px;
    width: 100%;
    background: #008489;
    z-index: 10000000;
}

header *{
    color: white;
}

header #logo {
    float: left;
    height: 70px;
    margin-left: 0.5em;
}

header #logo h1{
    margin: 9px;
    font-family: 'Candal', serif;
    font-size: 30px;
}


header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}  

header ul li{
    float: left;
    text-align: center;
}

header ul li a{  
    display: block;
    padding: 10px;
    font-size: 1.13em;
    color: white;
    text-decoration: none;
}

/* header ul li a:hover{
    background: #006669;
    transition: 0.5s;
} */

header ul li a .icon{  
    height: 30px;
    width: 30px;
    overflow: hidden;
}

header ul li a .icon [class^="fa"]{
    width: 100%;
    height: 100%;
    line-height: 30px;
    font-size: 22px;
    transition: 0.5s;
}
header ul li a:hover .icon [class^="fa"]:last-child{

    color:rgb(187, 179, 179);

}
header ul li a:hover .icon [class^="fa"]{
    transform: translateY(-100%);
}

header ul li a .name { 
    height: 20px;
    width: 100%; 
    overflow: hidden;
}

header ul li a .name span{
    display: block;
    position: relative;
    font-size: 13px;
    line-height: 20px;
    transition: 0.5s;
}

header ul li a .name span:before{
    content: attr(data-text);
    font-size: 13px;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    color:rgb(187, 179, 179);
}

header ul li a:hover .name span{
    transform: translateY(20px);
}

#news-list{
    position: absolute; /*headerul are poz fixa, dupa pozitia lui ma ghidez*/
    top: 70px;
    left: 0;
    height:auto;
    width: 100%;
}

.news-block{  
    height: 100px;
    width: 100%;
    display: block;
    background-color:white;   
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 7px;
    overflow: hidden;
}

.news-block .news-image img{
    float: left; 
    height: 100px;
    width: 100px;
    object-fit: cover; /*decupeaza imaginea (crop), ca sa setez care bucata sa o pastreze folosesc object-position: ; */
    padding: 5px;
}

.news-block .news-title h2 a{
    /* text-decoration: none; */
    color: black;
    font-size: 85%;
}

.news-block .news-info{
    font-size: 100%;
    padding: 2px 7px 10px;
}
.news-block .news-time{
    font-size: 80%;
    color: grey;
    padding-top: 7px;
}

/* incepe css pt images page */

#images-container{
    position: absolute; /*headerul are poz fixa, dupa pozitia lui ma ghidez*/
    top: 70px;
    left: 0;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 10px 10px; 
   
}

#images-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.figure-medium{
    grid-row: span 2;
    grid-column: span 3;
}

.figure-small{
    grid-row: span 2;
    grid-column: span 2;
}

#images-container img:hover{
   object-fit: contain;
   transform: scale(1.5);
    z-index:1000;
}

/* INCEPE CODUL PT POPUP-VIDEOS */

#videos-container{
    position: absolute; /*headerul are poz fixa, dupa pozitia lui ma ghidez*/
    top: 70px;
    left: 0;
    padding: 10px;
    height: 100%;
    width: 100%;
}

#videos-container .video-wrapper{
    position: relative;
    padding-top: 25px ;
    padding-bottom: 56.25%;
    height: 0px;
    
}

#videos-container .video-wrapper iframe{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
    border: none;
}
/* de aici incepe codul pt pagina popup-docs */

#docs-container{
    position: absolute; /*headerul are poz fixa, dupa pozitia lui ma ghidez*/
    top: 70px;
    left: 0;
    height: 100%;
    width: 100%;
}

.doc-box{
    height: 60px;
    width: 100%;
    display: block;
    background-color:white;   
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-right: 7px;
    overflow: hidden;
   
}
.doc-box i{
    float:left;
    padding: 5px 10px 5px 10px;
    font-size: 50px;
    
}
.doc-box .word-doc{
    color: rgb(20, 20, 139);
}
.doc-box .excel-doc{
    color: rgb(4, 112, 4);
}
.doc-box .ppt-doc{
    color: rgb(241, 75, 14);
}

.doc-box .pdf-doc{
    color: red;
}
.doc-box .other-doc{
    color: black;
}
.doc-box h2{
    margin-left: 45px;
    padding: 7px;
   
}

.doc-box h2 a{
    color: black;
    font-size: 80%;
}

.doc-box p{
    margin-left: 50px;
    padding: 0px 5px 5px 5px;
    color:grey;

}

/* de aici incepe css pt pagina popup-settings */

#settings-container{
    position: absolute; /*headerul are poz fixa, dupa pozitia lui ma ghidez*/
    top: 70px;
    left: 0;
    height: auto;
    width: 100%;
}

#settings-container .login{
    height: auto;
    min-height: 100px;
    width: 100%;
    display: block;
    background-color:white;   
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
}

#settings-container .login input{
    margin: 10px;
    width: 90%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #008489; 
}

#settings-container  input[type='submit']{
    border: none;
    background: #008489;
    color: white;
    border-radius: 2px;
    transition: 1s;
    font-size: 14px;
    width: 70px;
    height: 30px;
}

#settings-container input[type='submit']:hover{
    background-color: rgb(103, 141, 158);
}

#settings-container .button{
    text-align: center;
    padding: 5px;
}

#settings-container .choices
{
    height: auto;
    min-height: 100px;
    width: 100%;
    display: block;
    background-color:white;   
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;   
}
#settings-container .news-choices,
#settings-container .image-choices,
#settings-container .video-choices,
#settings-container .docs-choices
{
    padding-top: 10px;
}


#settings-container .choices h2
{
    font-size: 15px;
}

#settings-container .areas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#settings-container .area{
    margin: 5px;
}

#settings-container .area label{
    font-size: 13px;
}

#settings-container .choices .add-site-news{
    padding: 10px 5px;
}

