* {
    box-sizing: border-box;
}

html,body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6{
    font-family: 'Candal', serif;
    color: #444;
    margin :15px;
    text-align: center;
}

label{
    color: #444;
}
a{
    text-decoration: none;
    color: inherit;
}

header{
    background: #008489;
    height: 66px;
}

header * {
    color: white;
}

header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;

}

header .logo-text {
    margin: 9px;
    font-family: 'Candal', serif;
}

header .logo-text span{
    color: #05f7ff;
}

.mainPage{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}
.menu{
    height: 100%;
    width: 15%;
    background-color: #006366;
    left: -12%;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
}
.menu:hover{
    left:0;
    opacity: 0.8;
}
.fas,.far{
    margin : 7% 3%;  
    font-size: 2em; 
    color: white; 
    float: right;
}
.logout_button .fas{
     
   font-size: 1.5em; 
   margin : 10% 5%;
   color : #FA6F6F;
}
.stat{
    display: inline-block;
    margin: 7% ;
    padding: 3% ;
    color: white;
    font-family: 'Candal',serif;
    background-image: linear-gradient(to bottom, #006669 0%, #0E94A0 100%);
}
.stat:hover{
    background-image: linear-gradient(to bottom, #0E94A0 0%, #006669 100%);
}
#statistic-area {
    width: 80%;
    height: 100%;
    background: white;
    margin: 2% 10% ;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding-left: 3%;
    
}
.chart_wrapper {
    position: relative;
}

.chart_wrapper h3 {
    font-weight: 100;
    color: #0A2239;
    position: relative;
    text-align: left;
    margin-left: 30px;
}

.profit_box {
    width: 95%;
    height: 100%;
    position: relative;
}
.spacer {
    padding: 50px;
}

#chart_profit {
    width: 100%;
    height: 500px !important;
}

#chart_options {
    position: relative;
    text-align: center;
    margin-bottom: 5%;
}

#chart_options button {
    margin :5%;
    background: #008080;
    font-size: 16px;
    color: white;
    font-weight: 100;
    border: none;
    padding: 10px 32px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 6px 6px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: 0.4s;
    position: relative;
}

#chart_options button:hover {
    background: #53A2BE;
}

@media screen and (max-width: 650px) {
  .nav-bar nav {
      min-height: 250px;
  }

  .nav-bar nav a {
      display: block;
      padding: 10px;
  }

  #log_out_link {
      display: block;
      float: none;
  }

  .profit_box {
      height: 300px;
  }
}
